[submodule "gaqno-ai-service"]
	path = gaqno-ai-service
	url = git@github.com-personal:gaqno-development/gaqno-ai-service.git
[submodule "gaqno-pdv-service"]
	path = gaqno-pdv-service
	url = git@github.com-personal:gaqno-development/gaqno-pdv-service.git
[submodule "gaqno-sso-service"]
	path = gaqno-sso-service
	url = git@github.com-personal:gaqno-development/gaqno-sso-service.git
[submodule "gaqno-finance-service"]
	path = gaqno-finance-service
	url = git@github.com-personal:gaqno-development/gaqno-finance-service.git
[submodule "gaqno-rpg-service"]
	path = gaqno-rpg-service
	url = git@github.com-personal:gaqno-development/gaqno-rpg-service.git
[submodule "gaqno-omnichannel-service"]
	path = gaqno-omnichannel-service
	url = git@github.com-personal:gaqno-development/gaqno-omnichannel-service.git
