name: CI

on:
  pull_request:
  push:
    branches: [main, develop]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: npm ci

      - name: Lint
        run: npx turbo run lint

      - name: Tests
        run: npx turbo run test

      - name: Build
        run: npx turbo run build
